@use '../utilities/' as *;
@use '../components' as *;
.header {
    padding: 40px 0 20px;

    &__svg {
        display: block;
        @include media-query('large') {
            & svg {
                width: 170px;
            }
        }
        @include media-query('xLarge') {
            & svg {
                width: 190px;
            }
        }

    }

    &__filter {
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &-tag {
            @include tag;
            text-transform: capitalize;

            &--active {
                background: $red-primary;
                color: $lightgrey-secondary;
            }
        }
    }
    
}