@use '../utilities/' as *;
@use '../components' as *;
.header {
    padding: 40px 0 20px;
    // max-width: 968px;
    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    &__svg {
        display: block;
    }

    &__filter {
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &-tag {
            @include tag;
            text-transform: capitalize;

            &--active {
                background: $red-primary;
                color: $lightgrey-secondary;
            }
        }
    }
    
}