$breakpoints: (
    xSmall: 375px,
    bp-450: 450px,
    bp-600: 600px,
    small: 681px,
    medium: 768px,
    large: 1024px,
    xLarge: 1440px
);

@mixin media-query($key) {
    $size: map-get($breakpoints, $key);
    @media only screen and (min-width: $size){
        @content;
    }
}