// colors
$red-primary: #901C1C;
$lightred-primary: #D3573C;
$lightred-secondary:  #DB8876;
$red-secondary: #901C1C;
$lightgrey-secondary: #FAFAFA;
$grey-secondary: #C4C4C4;
$darkgrey-secondary: #525252;
$white: #FFF;

// font size
$fs-64: 4em;
$fs-36: 2.25em;
$fs-24: 1.5em; 
$fs-20: 1.25em;
$fs-18: 1.125em;
$fs-14: 0.875em;
$fs-13: 0.8125em;
$fs-12: 0.75em;
$fs-10: 0.625em;
$fs-9: 0.5625em;

// border radius
$br-5: 0.4166666666666667em;