@use '../utilities/' as *;
@mixin lightbox {
    .lightbox {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $white;
        animation: fadeIn 500ms;
        transition: opacity 300ms;
        z-index: 13;
    
        &__button {
            cursor: pointer;
            text-indent: -6000px;
            transition: opacity 300ms;
            right: 0;
        }
        &__button:hover {
            opacity: 0.5;
        }
        &__close {
            width: 20%;
            height: 12px;
            background: url(../../../public/images/cross.svg) center center / 12px 12px no-repeat;
            z-index: 12;
            position: absolute;
            top: 0;
            right: -14%;
            @include media-query('medium') {
                background-size: 24px 24px;
                height: 24px;
            }
            @include media-query('large') {
                background-size: 36px 36px;
                height: 36px;
            }
            @include media-query('xLarge') {
                background-size: 42px 42px;
                height: 42px;
            }
        }
    
        &__next, &__previous {
            background: url(../../../public/images/arrow.svg) center center / 9px 14px no-repeat;
            width: 15%;
            height: 100%;
            position: fixed;
            margin-top: 7px;
            z-index: 11;
            @include media-query('bp-450') {
                width: 23%;
            }
            @include media-query('medium') {
                background-size: 17px 26px;
            }
            @include media-query('large') {
                background-size: 25px 40px;
            }
            @include media-query('xLarge') {
                background-size: 30px 48px;
            }
        }
        &__previous {
            right: auto;
            left: 0;
            transform: rotate(180deg);
        }
    
        &__container {
            position: relative;
            width: clamp(290px, 70%, 100%);
            margin: auto;
        }
        &__image {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__media {
            border-radius: $br-5;
            width: 100%;
            height: 248px;
            object-fit: cover;
            object-position: 50% 30%;
            animation: fadeIn 500ms;
            z-index: 12;
            @include media-query('bp-600') {
                height: 400px;
            }
            @include media-query('medium') {
                height: 500px;
            }
            @include media-query('large') {
                height: 700px;
            }
            @include media-query('xLarge') {
                height: 850px;
            }
        }
        &__title {
            color: $red-secondary;
            font-size: $fs-14;
            margin-top: 7px;

            @include media-query('large') {
                font-size: $fs-24;
                margin-top: 12px;
            }
        }
        &__loader {
            width: 38px;
            height: 38px;
            background: url(../../../public/images/loader.svg) center center no-repeat;
        }
        &.fadeout {
            opacity: 0;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}