@use '../utilities/' as *;
@use '../main';
@use '../components' as *;

.header {
    @include media-query('large') {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:75%;
    }
    @include media-query('xLarge') {
        justify-content: space-evenly;
        width:75%;
    }
}

.main {
    position: relative;
    &__title {
        font-size: $fs-14;
        color: $red-secondary;
        position: absolute;
        right: 0px;
        top: -165px;
        @include media-query('xSmall') {
            top: -140px;
        }
        @include media-query('small') {
            top: -145px;
            font-size: $fs-24;
        }
        @include media-query('large') {
            top: -125px;
        }
        @include media-query('xLarge') {
            top: -135px;
            font-size: $fs-36;
        }
    }

    & .photographers {
        margin-top: 30px;
    }
    @include media-query('small') {
        & .photographers {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 50px;
        }
    }
    @include media-query('large') {
        & .photographers {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 60px;
        }
    }
}

@include photographerCard;

.anchor {
    z-index: 11;
    display: none;
    text-decoration: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    height: 30px;
    width: 182px;
    background: $lightred-secondary;
    border-radius: $br-5;
    font-size: $fs-18;
    font-weight: bold;
    text-align: center;
    margin-top: 6px;
    padding: 3px 0 6px 0;
}
