@use '../utilities/' as *;
@use '../main';
@use '../components' as *;
@use '../layout/form' as *;

.photographer {
    &__profil {
        display: flex;
        justify-content: space-between;
        margin-bottom: 46px;
    }
    &__content {
        width: 70%;
        padding-top: 20px;
    }
    &__name {
        font-size: $fs-36;
        color: $lightred-primary;
    }
    &__location {
        font-size: $fs-13;
        color: $red-primary;
        font-weight: 400;
        margin-bottom: 4px;
    }
    &__tagline {
        font-size: $fs-13;
        color: $darkgrey-secondary;
        margin-bottom: 7px;
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
    }
    &__tag a{
        @include tag;
        font-size: $fs-13;
    }
    &__contactButton {
        @include button;
        position: fixed;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        z-index: 13;
    }
    &__img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.media {
    margin-bottom: 100px;
    @include media-query('bp-600') {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    &__card {
        height: 218px;
        max-width: 100%;
        display: block;
        margin-bottom: 10px;
        @include media-query('bp-450') {
            height: 258px;
        }
        @include media-query('bp-600') {
            width: 48%;
        }
        @include media-query('large') {
            width: 30%;
            height: 293px;
        }
        @include media-query('xLarge') {
            width: 350px;
            height: 350px;
        }

        & a {
            display: block;
        }
    }
    & a {
        position: relative;
    }
    &__playIcon {
        position: absolute;
        background: url(../../images/playIcon.svg) center center / 38px 38px no-repeat;
        height: 100%;
        width: 100%;
    }
    &__thumb {
        height: 190px;
        width: 100%;
        object-fit: cover;
        object-position: 50% 15%;
        border-radius: $br-5;
        @include media-query('bp-450') {
            height: 230px;
            object-position: 50% 25%;
        }
        @include media-query('large') {
            height: 265px;
            object-position: 50% 25%;
        }
        @include media-query('xLarge') {
            height: 300px;
            object-position: 50% 25%;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        color: $red-primary;
    }
    &__title {
        font-weight: 400;
    }
    &__likes {
        display: flex;
        font-weight: 500;
    }
    &__number {
        margin-right: 6px;
    }
}

// component
@include lightbox;

// layout
@include form;